{% extends 'base.html' %}

{% block content %}

<h1>Today's Classes</h1>

<ul>
    {% for gym_class in gym_classes %}
        <div>
            <a href="/gym_classes/{{ gym_class.id }}">{{ gym_class.class_type.title }}</a>
            <hr>
            <div>
                <p>{{ gym_class.start_time.time }}</p>
                <p>{{ gym_class.duration }} mins</p>
                <p>In the {{ gym_class.location.name }}</p>
            </div>
            <div>

            </div>
        </div>   
    {% endfor %}
</ul>

{% endblock content %}