{% extends 'base.html' %}

{% block content %}


<!-- <div> -->
<h1>Add a new {{ class_type.title }} session</h1>
    <form action="/gym_classes/class_type/{{ class_type.id }}" method="post">
        
        <div>
            <label for="start_time">Start time:</label>
            <select name="start_time" id="start_time">
                <!-- <option value="None">--</option> -->
                {% for start_time in start_times %}
                    <option value="{{ start_time }}">{{ start_time }}</option>                    
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="duration">Duration (mins):</label>
            <input type="number" id="duration" name="duration" required />
        </div>
        <div>
            <label for="location">Location:</label>
            <select name="location" id="location">
                <!-- <option value="None">--</option> -->
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name}}</option>                    
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="capacity">Capacity:</label>
            <input type="number" id="capacity" name="capacity" required />
        </div>
        <div>
            <button type="submit"><span class="material-symbols-outlined">
                add
                </span> Add session</button>
        </div>
    
    </form>
    <a href="/class_types/{{class_type.id}}"><button type="button" class="back_button">
        <span class="material-symbols-outlined">arrow_back</span>
        Back to {{ class_type.title }} sessions</button></a>

<!-- </div> -->



{% endblock content %}