{% extends 'base.html' %}

{% block content %}
<section>
    <section>
        <p>Title: {{ gym_class.class_type.title }}</p>
        <a href="/gym_classes/{{ gym_class.id }}/edit"><i class="material-icons">edit</i></a>
        <p>Intensity:
            {% for i in range(gym_class.class_type.intensity) %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in range(5 - gym_class.class_type.intensity)  %}
            <span class="fa fa-star" id="unchecked"></span>  
            {% endfor %}</p>
        <p>Description: {{ gym_class.class_type.description }}</p>
        <p>When: {{ gym_class.start_time }}</p>
        <p>Where: {{gym_class.location.name }}</p>
        
        <div class="attendee_list">
            <p>Attendees:</p>
            {% if number_of_attendees ==0 %}
            
            <p>There are currently no bookings for this session</p>
    
            {% else %}
            {% for attendee in attendees %}
                <div class="attendee">
                    <p><a href="/members/{{ attendee.id }}">{{ attendee.get_full_name() }}</a></p>
                        <form action="{{ attendee.id }}/delete_booking" method='POST'>
                        <button class="delete_button"><span class="material-symbols-outlined">
                            disabled_by_default
                            </span></button>
                        </form>
                </div>         
            {% endfor %}
        </div>
            
        {% endif %}

        {% if availability > 0 %}

        <form id="add_booking" action="{{ gym_class.id }}/add_booking" method="post">
            <label for="add_booking"> Add member to this class:</label>
            <select name="add_booking" id="add_booking">
                <option value="None">--</option>
                {% for member in unbooked_members %}
                <option value="{{ member.id }}">{{ member.get_full_name() }}</option>            
                {% endfor %}
            </select>
            <button type="submit">Add member</button>
        </form>
        {% else %}
        <p>This class is full</p>
        {% endif %}
        
        
    </section>
</section>
    
{% endblock content %}

