{% extends 'base.html' %}

{% block content %}
<section>
    <section>
        <p>Title: {{ gym_class.class_type.title }}</p>
        <p>Intensity: {{ gym_class.class_type.intensity }}</p>
        <p>Description: {{ gym_class.class_type.description }}</p>
        <p>When: {{ gym_class.start_time.time }}</p>
        <p>Where: {{gym_class.location.name }}</p>
        <div class="attendee_list">
            <p>Attendees:</p>
            {% for attendee in attendees %}
                <div class="attendee">
                    <p>{{ attendee.get_full_name() }}</p>
                        <form action="{{ attendee.id }}/delete_booking" method='POST'>
                        <button>Remove</button>
                        </form>
                </div>         
            {% endfor %}
        </div>
        <form action="{{ gym_class.id }}/add_booking" method="post">
            <label for="add_booking"> Add member to this class:</label>
                <select name="add_booking" id="add_booking">
                    <option value="None">--</option>
                    {% for member in members %}
                        <option value="{{ member.id }}">{{ member.get_full_name() }}</option>            
                    {% endfor %}
                </select>
            <button type="submit">Add member</button>
        </form>

    </section>
</section>
    
{% endblock content %}

