{% extends 'base.html' %}

{% block content %}

<p>Member: {{ member.get_full_name() }}</p>
<p>Membership Number: {{ member.membership_number }}</p>
<a href="/members/{{ member.id }}/edit">edit</a>

<ul>Enrolled classes:
    {% for gym_class in enrolled_gym_classes %}
        <li> {{ gym_class.get_key_details() }}</li>   
    {% endfor %}
</ul>


<form action="{{ member.id }}/add_booking" method="post">
    <label for="add_booking"> Add booking:</label>
        <select name="add_booking" id="add_booking">
            <option value="None">--</option>
            {% for gym_class in all_gym_classes %}
                <option value="{{ gym_class.id }}">{{ gym_class.get_key_details() }}</option>            
            {% endfor %}
        </select>
    <button type="submit">Add class</button>
</form>
{% endblock content %}


<!-- <i class="material-icons"></i> -->