{% extends 'base.html' %}

{% block content %}
<form action="/class_types/{{ class_type.id }}" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ class_type.title }}" required autofocus>
    </div>
    <div>
        <label for="Intensity">Intensity:</label>
        <input type="number" name="intensity" id="intensity" min="1" max="5" value="{{ class_type.intensity }}" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="3" required>{{ class_type.description }}</textarea>

    </div>
    <div class="form_button">
        <button type="submit">Update {{ class_type.title }}</button>
    </div>
</form>

{% endblock content %}

