{% extends 'base.html' %}

{% block content %}

<div class="class_types_show">
    <div class="section_info">

        <div>
            <div>
                <h1>{{ class_type.title }}</h1>
                <a href="/class_types/{{ class_type.id }}/edit"><i class="material-icons">edit</i></a>

            </div>
            <p>Intensity: 
                {% for i in range(class_type.intensity) %}
                <span class="fa fa-star checked"></span>
                {% endfor %}
                {% for i in range(5 - class_type.intensity)  %}
                <span class="fa fa-star" id="unchecked"></span>  
                {% endfor %}</p>
            <p>Description: {{ class_type.description }}</p>
        </div>
        
        <img src="/static/img/{{class_type.title }}.jpg" onerror="this.onerror=null; this.src='/static/img/default.jpg'" alt="{{ class_type.title }} image">
        
    </div>
    
    <section>
        {% if number_of_scheduled_classes == 0 %}
        <p>There are no {{class_type.title }} sessions scheduled.</p>
            
        {% endif %}
            {% for gym_class in filtered_classes %}
                {% if  gym_class.class_type.id == class_type.id %}
                
                <section class="object_container">
                    <a href="/gym_classes/{{ gym_class.id }}">
                        
                        <div>
                            <p>{{ gym_class.class_type.title }}</p>
                            <hr>
                            <div>
                                <p>{{ gym_class.start_time }}</p>
                                <p>{{ gym_class.duration }} mins</p>
                                <p>In the {{ gym_class.location.name.lower() }}</p>
                                {% if class_sizes[gym_class.id]%}
                                    <p class="remaining_spaces"> {{ gym_class.capacity - class_sizes[gym_class.id] }} space(s) remaining</p>
                                {% else %}
                                    <p class="remaining_spaces"> {{ gym_class.capacity }} spaces remaining</p>
                                {% endif %}
                            </div>  
                        </div>
                    </a>    
                </section>
                {% endif %}
            {% endfor %}
    </section>
    <div id="button_group">
        <a href="/class_types/{{ class_type.id }}/new_session"><button><span class="material-symbols-outlined">
            add
            </span> Add new session</button></a>
        <a href="/class_types"><button type="button" class="back_button">
            <span class="material-symbols-outlined">arrow_back</span>
            Back to classes</button></a>
    </div>
</div>




{% endblock content %}
