body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #79031D;
    background-image: linear-gradient(to bottom right, #79031D, red);
    background-repeat: no-repeat;
    /* rgb(199, 10, 10) */
    margin: 0px;
    color: #F5F7F7;
    min-height: 100vh;
    height:auto
}
/* 
body > header {
    height: 35px;
} */

body > header > nav > ul {
    display: flex;
    background-color: #000407;
    margin: 0px;
    padding: 5px 0px 5px 40px;
    height: 20px;
}

/* li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
} */

a {
    text-decoration: none;
    color: #F5F7F7;
}

.menu > li > a {
    padding: 0px;
    margin-right: 40px
}
.material-icons {
    color: #EDB518;
    width: 0px;
    height: 0px;
}

.menu_headings {
    width: 100px;
}
.menu_headings li a{
    padding: 4px;
}

.session_headings {
    padding: 4px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #000407;
}

ul li {
    display: block;
    position: relative;
    float: left;
    background-color: #000407;
}

li ul {display: none;}

ul li a {
    display: block;
    /* padding: 1em; */
    text-decoration: none;
    white-space: nowrap;
}

ul li a:hover {
    background-color: #EDB518;
}
.session_headings:hover {
    background-color: #EDB518;
}

li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li {float: none;}
li:hover a {background-color: #000407;}
li:hover li a:hover {background-color: #EDB518;}
.menu li ul li {border-top: 0;}

ul ul ul {
    left: 100%;
    top: 0;
}

ul:before,
ul:after {
  content: " "; 
  display: table;
}

.menu > li > a:hover {
    background-color: #000407;
}
/* .dropbtn {
    background-color: #000407;
    color: #F5F7F7;
    font-size: 16px;
    border: none;
    margin: 0px;
    height: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000407;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #F5F7F7;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    height: 20px;
}

.dropdown-content a:hover {background-color: #EDB518;}
.dropdown:hover .dropdown-content {display: block}
.dropdown:hover .dropbtn {background-color: #000407;} */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
  }

.page_container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 80%;
    margin-top: 40px;
}

.object_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.object_title h1 {
    margin-top: 0px;
}

.additional_info {
    display: flex;
    align-items: baseline;
}
.additional_info .title {
    margin-right: 50px;
}

form {
    display: flex;
}

form label {
    margin-right: 110px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}
/* 
.object_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

} */


body > div > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

body > div > section > section {
    border: 2px solid #EDB518;
    padding: 8px;
    margin: 50px 25px 0px 25px;
    border-radius: 5px;
    height: 150px;
    width: 240px;
    float: absolute;
}

hr {
    border: 0.5px solid #EDB518;
  }

  body > div > section > section > ul {
      padding-left: 0px;
  }
/* 
.attendee_list {
    display: inline;
  } */

.attendee {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

.attendee button {
    width: 24px;
    height: 24px;
  }

.attendee p {
    min-width: 197px;
    margin: 0px;
}
select, button, input {
      border: none;
      border-radius: 2px;
      font-family: 'Open Sans', sans-serif;
      color: #000407;
  }

button {
    background-color: #EDB518;
  }

select, input {
    background-color: #F5F7F7;
}

.delete_button {
    padding: 0px;
    background-color: transparent;
    color:#EDB518
}

.list {
    display: flex;
    /* justify-content: space-between; */
    align-items: baseline;
}
.list p {
    margin-right: 50px;
}

img {
    width: 150px;
    /* margin-top: 22px */
}
