body {
    font-family: 'Helvetica', arial, sans-serif;
    font-size: 16px;
    background-color: #2F4454;
    margin: 0px;
    color: lightgray
}

body > header > nav > ul {
    display: flex;
    background-color: #2E151B;
    margin: 0px;
    padding: 5px 0px 5px 40px;
}

li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    text-decoration: none;
    color: lightgray;
}

.material-icons {
    color: lightgray;
}

.dropbtn {
    background-color: #2E151B;
    color: lightgray;
    font-size: 16px;
    border: none;
    margin: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2E151B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: lightgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #376E6F;}
.dropdown:hover .dropdown-content {display: block}
.dropdown:hover .dropbtn {background-color: #2E151B;}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
  }

body > div > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

body > div > section > a >section {
    border: 2px solid #376E6F;
    padding: 8px;
    margin: 50px 25px 0px 25px;
    /* height: 150px;
    width: 150px; */
}

hr {
    border: 0.5px solid #376E6F;
  }

  body > div > section > section > ul {
      padding-left: 0px;
  }

.attendee_list {
    display: inline;
  }

.attendee {
    display: flex;
    justify-content: space-between;
  }

.attendee button {
    margin-right: 150px;
  }