body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: teal;
    background-image: linear-gradient(to bottom right, teal, #555555);
    background-repeat: no-repeat;
    margin: 0px;
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    padding-right: 0px;
}

body > header > nav > ul {
    display: flex;
    background-color: #555555;
    margin: 0px;
    padding: 5px 0px 5px 40px;
    height: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.menu > li > a {
    padding: 0px;
    margin-right: 40px
}
.material-icons {
    color:#FFDB58;
    width: 0px;
    height: 0px;
}

.menu_headings {
    width: 100px;
    cursor: default;
}
.menu_headings li a{
    padding: 10px;
}

.session_headings {
    padding: 10px;
    cursor: default;
    width: 160px;
    white-space: nowrap;
}

.menu_headings * {
    z-index: 1;
    position: relative;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #555555;

}

ul li {
    display: block;
    position: relative;
    float: left;
    background-color: #555555;
    /* cursor: pointer; */
}

li ul {display: none;}

ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

ul li a:hover {
    background-color: #FFDB58;
    color: #555555;
}
.session_headings:hover {
    background-color: #FFDB58;
    color: #555555;
}

li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li {float: none;}
li:hover a {background-color: #555555;}
li:hover li a:hover {background-color: #FFDB58; color: #555555;}
.menu li ul li {border-top: 0;}

ul ul ul {
    left: 100%;
    top: 0;
}

ul:before,
ul:after {
  content: " "; 
  display: table;
}

.menu > li > a:hover {
    background-color: #555555;
}

body > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em;
}

.homepage {
    background: url('/static/img/index_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw
}

.homepage h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    color:teal;
}

.homepage h2 {
    margin: 0px;
    color: black;
}

.homepage div {
    border: 10px solid teal;
    border-radius: 10px;
    padding: 10px;
}
body > div > section {
    display: flex;
    /* margin-right: 2em; */
}

body > div > section > section {
    margin-right: 4em;
}

.object_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.object_container {
    min-height: 200px;
    padding: 0px 0px 0px 10px;
}
.list {
    display: flex;
    justify-content: space-between;
}
#member_list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-bottom: 4em;
}
#member_list > div {
    min-width: 300px;
    margin-right: 2em;
}
#member_list ul {
    margin-top: 30px;
}

.member_list li {
    background-color: transparent;
}

.member_list {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-right: 30px;
}

.member_list h2 {
    margin-top: 0px
}

.list h1 {
    margin: 0px;
}

.list > div {
    margin-right: 2em;
}

.list ul {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.list li {
    background-color: transparent;
    padding: 1px;
}

.additional_info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.additional_info .title {
    margin-right: 5em;
}

#add_booking {
    display: block;
    margin-top: 2em;
}
#add_booking * {
    margin-top: 1em;
}

body > div > section > section > form > div {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

body > div > section > section > form > div > button {
    margin-top: 1em;
}

.profile_avatar img {
    max-width: 150px;
    margin-top: 22px;
    border-radius: 5px;
} 

body > div > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

body > div > form > div {
    /* margin-bottom: 3em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

body > div > div > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom:50px; 
}

body > div > div > section > section {
    border: 2px solid #8B8681;
    padding: 8px;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 5px;
    height: 150px;
    width: 240px;
    float: absolute;
}

.class_types_show {
    width: 100%;
}
.section_info {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;

}

.section_info > div {
    width: 250px;
}

.section_info > div > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.section_info > img {
    display: block;
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: 5em
}



hr {
    border: 0.5px solid #8B8681;
  }

body > div > section > section > ul {
      padding-left: 0px;
  }


.attendee {
    display: flex;
    align-items: center;
  }

.attendee button {
    width: 24px;
    height: 24px;
  }

.attendee p {
    min-width: 197px;
    margin: 0px;
}
select, button, input, textarea {
      border: none;
      border-radius: 2px;
      font-family: 'Montserrat', sans-serif;
      color: #555555;
  }

button {
    background-color: #FFDB58;
    color: #555555;
    padding: 5px;
    font-size: 16px;
    height: 24px;
    display: flex;
    align-items: center;
}

select, input {
    background-color: white;
}

.delete_button {
    padding: 0px;
    background-color: transparent;
    color:#8B8681
}




.checked {
   color:white;
}

#unchecked {
    color: #8B8681;
    opacity: 0.5;
}

.gym_class {
    display: block;
}

.gym_class_title {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: baseline;
}

.gym_class_info > div {
    display: block;
}

.gym_class_info > div > div {
    display: flex;
    justify-content: space-between;
}

.back_button {
    margin-top: 20px;
    background-color: #cae8dc;
}


#button_group {
    display: flex;
    flex-direction: column;
}

#add_booking span {
    margin-top: 0px;
}

.remaining_spaces {
    font-size: 14px;
}