<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>The Gym</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/"><span class="material-icons">home</span></a></li>
                <li class="menu_headings">Classes
                    <ul>
                        <li><a href="/class_types">Classes we offer</a></li>
                        <li><a href="/class_types/new">Add a new class</a></li>
                    </ul>
                </li>
                <li class="menu_headings">Sessions
                    <ul>
                        <li class="session_headings">See today's sessions
                            <ul>
                                {% for class_type in class_types %}
                                <li><a href="/class_types/{{ class_type.id }}">{{ class_type.title }} </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="session_headings"> Add a new session
                            <ul>
                                {% for class_type in class_types %}
                                <li><a href="/class_types/{{class_type.id }}/new_session">{{ class_type.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu_headings">Members
                    <ul>
                        <li><a href="/members">See all members</a></li>
                        <li><a href="/members/new">Add a new member</a></li>
                    </ul>
                </li>
            </ul>
            
        </nav>
    </header>
    {% block home %}
        
    {% endblock home %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



</body>
</html>